.transcriber {
  display: flex;
  width: clamp(300px, 75vw, 920px);
  min-height: clamp(400px, 68vh, 800px);
  flex-direction: column;
  border-radius: var(--border-radius);
  background-color: white;
}

.transcriber .controls {
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  user-select: none;
  color: var(--color-slate);
  align-items: center;
  justify-content: center;
  background-color: #F1F4F9;
  padding: 1rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border-bottom: 4px solid #DEE9FC;
}

.transcriber .content-panel {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
}

.transcriber .sidebar {
  padding: 1rem;
  background-color: #F1F4F9;
  border-radius: 0 0 0 var(--border-radius);
}

.transcriber .content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.transcriber textarea {
  box-sizing: border-box;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  width: 100%;
  min-width: 100%;
  max-width: clamp(300px, 65vw, 800px);
  height: 100%;
  background-color: white;
  padding: 1.25rem;
  border: 0px;
  outline: none;
  font-family: Georgia, serif;
  font-size: 1.1rem;
  line-height: 1.5;
}

textarea::placeholder {
  color: var(--color-muted);
}

textarea:hover::placeholder {
  opacity: 0.8;
}

#record-button {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: 0.5rem;
  justify-content: center;
}

#record-button.active {
  opacity: 0.8;
}

.transcriber .footer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: end;
  padding: 1.25rem;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
